
div .profile__card {

    margin: 50px;

    .profile__title {
        font-size : 3rem;
        padding: 10px;
    }

    .profile__desc {
        font-size : 1.5rem;
        opacity: 80%;
        margin-top : 10px;
    }

}