
div .profile__card {

    padding: 50px;
    padding-top: 25px;

    .profile__title {
        font-size : 3rem;
        padding: 10px;
    }

    .profile__desc {
        font-size : 1.6rem;
        color: #636363;
    }

    .profile__desc_sub {
        font-size : 1rem;
        color: #8d8d8d;
        margin-top : -6px;
    }

}

div .profile__img {

    img {
        position: relative;
        width: 100%;
    }
}


@media ( min-width: 768px ) {
    div .profile__img {

        img {
            position: relative;
            width: 768px;
        }
    }
}