
div .location__box {

    margin: 20px;
    margin-top: 40px;

    .location__phone {
        font-size: 0.9rem;
        margin : 5px
    }

    .location__address {
        font-size: 0.8rem;
        margin: 5px;
        margin-top : 10px;
    }

}