div .linkButton__mainbox {
    background: #fffbf2;
    margin: 12px;
    padding: 8px;
    display: flex;
}

.linkButton__title {
    display: none;
}

.linkButton__comment {

}

.linkButton__link {

}

.linkButton__icon {

    img {
        position: relative;
        width: 20px;
        height: 20px;
    }
}