div .linkButton__card {
    background: #fffbf2;
    margin: 12px;
    padding: 8px;

    height: 50px;

    position: relative;
    display: flex;
    text-align: center;
    align-content: space-around;


    box-shadow: 10px, 10px, 50px, #000000;


    .linkButton__icon {

        width: 25%;

        img {
            width: 25px;
            height: 25px;
            top: 30px;
        }
    }

    .linkButton_textbox {

        width: 50%;
        text-align: left;

        .linkButton__comment {

        }
        
        .linkButton__link {
        
        }
    }


    .linkButton__arrow {

        width: 25%;
        text-align: right;
        padding : 12px;
    }

}